# 01: Building a pandas Cheat Sheet, Part 1

Use the csv I've attached to answer the following questions:

Import pandas with the right name

In [1]:
import pandas as pd

Set all graphics from matplotlib to display inline

In [2]:
%matplotlib inline

Read the csv in (it should be UTF-8 already so you don't have to worry about encoding), save it with the proper boring name

In [3]:
df = pd.read_csv('07-hw-animals.csv')

Display the names of the columns in the csv

In [4]:
df.columns

Index(['animal', 'name', 'length'], dtype='object')

Display the first 3 animals.

In [5]:
df['animal'].head(3)

0    cat
1    cat
2    dog
Name: animal, dtype: object

Sort the animals to see the 3 longest animals.

In [15]:
df.sort_values('length', ascending = False).head(3)

  animal        name  length
2    dog  Egglesburg      65
3    dog       Devon      50
1    cat         Bob      45

What are the counts of the different values of the "animal" column? a.k.a. how many cats and how many dogs.

In [26]:
df['animal'].value_counts()

dog    3
cat    3
Name: animal, dtype: int64

Only select the dogs.

In [28]:
df[df['animal'] == 'dog']

  animal        name  length
2    dog  Egglesburg      65
3    dog       Devon      50
5    dog    Fontaine      35

Display all of the animals that are greater than 40 cm.

In [29]:
df[df['length'] > 40]

  animal        name  length
1    cat         Bob      45
2    dog  Egglesburg      65
3    dog       Devon      50

'length' is the animal's length in cm. Create a new column called inches that is the length in inches.

In [47]:
inches = df['length'] * 0.393701
df['inches'] = inches

Save the cats to a separate variable called "cats." Save the dogs to a separate variable called "dogs."

In [48]:
cats = df[df['animal'] == 'cat']
dogs = df[df['animal'] == 'dog']

Display all of the animals that are cats and above 12 inches long. First do it using the "cats" variable, then do it using your normal dataframe.

In [49]:
cats[cats['inches'] > 12]

  animal     name  length     inches
0    cat     Anne      35  13.779535
1    cat      Bob      45  17.716545
4    cat  Charlie      32  12.598432

In [57]:
df[(df['animal'] == 'cat') & (df['length'] > 12)]

  animal     name  length     inches
0    cat     Anne      35  13.779535
1    cat      Bob      45  17.716545
4    cat  Charlie      32  12.598432

What's the mean length of a cat?

In [65]:
cats['inches'].describe()

count     3.000000
mean     14.698171
std       2.679867
min      12.598432
25%      13.188984
50%      13.779535
75%      15.748040
max      17.716545
Name: inches, dtype: float64

What's the mean length of a dog?

In [ ]:
Use groupby to accomplish both of the above tasks at once.
Make a histogram of the length of dogs. I apologize that it is so boring.
Change your graphing style to be something else (anything else!)
Make a horizontal bar graph of the length of the animals, with their name as the label (look at the billionaires notebook I put on Slack!)
Make a sorted horizontal bar graph of the cats, with the larger cats on top.

02: Doing some research

Answer your own selection out of the following questions, or any other questions you might be able to think of.  Write the question down first in a markdown cell (use a # to make the question a nice header), THEN try to get an answer to it. A lot of these are remarkably similar, and some you'll need to do manual work for - the GDP ones, for example.

If you are trying to figure out some other question that we didn't cover in class and it does not have to do with joining to another data set, we're happy to help you figure it out during lab!

Take a peek at the billionaires notebook I uploaded into Slack, it should be helpful for the graphs (I added a few other styles and options, too). You'll probably also want to look at the "sum()" line I added.
What country are most billionaires from? For the top ones, how many billionaires per billion people?
Who are the top 10 richest billionaires?
What's the average wealth of a billionaire? Male? Female?
Who is the poorest billionaire? Who are the top 10 poorest billionaires?
'What is relationship to company'? And what are the most common relationships?
Most common source of wealth? Male vs. female?
Given the richest person in a country, what % of the GDP is their wealth?
Add up the wealth of all of the billionaires in a given country (or a few countries) and then compare it to the GDP of the country, or other billionaires, so like pit the US vs India
What are the most common industries for billionaires to come from? What's the total amount of billionaire money from each industry?
How many self made billionaires vs. others?
How old are billionaires? How old are billionaires self made vs. non self made? or different industries?
Who are the youngest billionaires? The oldest? Age distribution - maybe make a graph about it?
Maybe just made a graph about how wealthy they are in general?
Maybe plot their net worth vs age (scatterplot)
Make a bar graph of the top 10 or 20 richest
03: Finding your own dataset

On Thursday, bring a dataset with you that's a csv/tsv/whatever. Try to open it in pandas, and do df.head() to make sure it displays OK.